#---------------------------------
# Working Directories
#---------------------------------
/sources

#---------------------------------
# Extensions
#---------------------------------
/*.{gz,log,rar,tar,zip,log}

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml
.code-workspace
package-lock.json