#---------------------------------
# Working Directories
#---------------------------------
node_modules/

#---------------------------------
# Extensions
#---------------------------------
/*.{gz,log,rar,tar,zip,log}

#---------------------------------
# IDE generated
#---------------------------------
.idea/
.project
*.iml